* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
 
    margin: 0;
}


.nav-container{
    display: flex;
    flex-direction: row;
    margin: 1rem 1.5rem;
    justify-content: space-between;
}



.nav-container a{

text-decoration: none;
color: black;


}


.nav-container a:hover{

 cursor: pointer;
 color: blue;
 text-decoration: underline wavy  yellowgreen;
transition: 3ms ease-in-out;    
    
    }


    
.footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 1, 0.5);
}
