.container{



    display: flex;
    flex-direction: column;
    align-items:center ;
   margin:10rem;
}

.form-input{

margin-top: 1.5rem;


}

button{
    margin: 1rem;

    text-align: center;


}