
.navbar{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
}


.navbar a{
    font-size: 2rem;
    text-decoration: underline wavy  greenyellow;
  color: black;
 
}

.navbar a:hover{
    text-decoration: underline wavy  yellow;
    transition: ease-in-out 2ms;
  color: rgb(177, 162, 162);
 
}


.form-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px; /* Optional: To set a specific width for the form */
    margin: 0 auto; /* Center the form on the page */
}


#title{

    align-items:center ;
    text-align: center;

}
form .form-input {
    display: flex;
    flex-direction: column; /* This ensures the label and input are stacked */
    margin-bottom: 1.5rem;
    width: 100%; /* Ensures the input fields take up the full width of the form container */
}

form .form-input label {
    margin-bottom: 0.5rem; /* Add space between label and input */
    text-align: left; /* Ensure the label text aligns to the left */
}

form .form-input input {
    padding: 0.5rem;
    border: 1px solid #ccc; /* Optional: To add a border around the input */
    border-radius: 4px; /* Optional: To round the corners of the input */
    width: 100%; /* Make the input fields stretch to the full width of the form */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}


form button{
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;

}