:root{


    /* colors */
--main-color:#0b1215;
--secondary-color:#f4f4f4;
--tertiary-color:#352f36;
--misc-color:#3f50ba;


/* fonts */
--main-font : Arial, sans-serif;
}


body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

/* start of navbar*/

.logo {
    display: flex;
    align-items: center;
}


.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.help-link a {
    color: var(--main-color);
    text-decoration: none;
}
.help-link a:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* end of navbar*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 175px); /* Adjust height to subtract the header */
    background-color: var(--main-color);
}

.left {
    flex: 1;
  
    color: var(--secondary-color);
    text-align: center;
    padding: 50px;
}

.left h2 {
    font-size: 28px;
    font-weight: normal;
}


.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}.login-box {
    width: 300px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.login-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
}

.login-box button[type="submit"]:hover {
    background-color: var(--tertiary-color);
}

.form-links {
    margin-top: 10px;
    gap: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-links a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
}

.form-links a:hover {
    text-decoration: underline;
}

.or-separator {
    margin: 20px 0;
    color: #888;
    font-size: 14px;
    position: relative;
}

.or-separator::before,
.or-separator::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    width: 40%;
}

.or-separator::before {
    left: 0;
}

.or-separator::after {
    right: 0;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-login button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: var(--secondary-color);
    cursor: pointer;
}

.social-login .facebook {
    background-color: var(--main-color);
}

.social-login .facebook:hover {
    background-color: var(--tertiary-color);
}
.social-login .google {
    background-color:var(--main-color);
}

.social-login .google:hover {
    background-color:var(--tertiary-color);
}

.login-box p {
    font-size: 14px;
    margin-top: 20px;
}

.login-box p a {
    color: var(--main-color);
    text-decoration: none;
}

.login-box p a:hover {
    text-decoration: underline;
}

.footer {

    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 1, 0.5);
}
